body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            overflow: hidden;
        }
        .fullpage-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1;
        }

        .start-button-container {
            position: fixed;
            z-index: 2;
            top: 89%;
            left: 75%;
            transform: translate(-50%, -50%);
        }

        .start-button {
            width: 350px;
            cursor: pointer;
            transition: transform 0.2s;
        }

        .start-button:hover {
            transform: scale(1.05);
        }